<div class="rg-content">
	<div class="rg-pt30 clearfix w310 rg-mc0">
    <div class="img-groupTitle fn-left"></div>
    <div class="ml5 fn-left">
      <h2>${i18n.registerGroup}</h2>
      <p class="rg-fs14">${i18n.reviewAndAddAddittional}</p>
    </div>
  </div>

  <div class='rg-h216 mt15'>
		<div data-dojo-attach-point="guestList" data-dojo-type="ah/util/form/Dgrid" data-dojo-props="
			datas:this.__datas,
			actionArea: 'add,edit',
			structure: this.__structure,
			plugins: {'select': true},
			allowSelectAll: true,
      autoHeight:'130px'
			"></div>
	</div>

	<div class="ta-c">
    <span class="img-next rg-w60 rg-h60" data-dojo-attach-point="confirm"></span>
    <p class="rg-fs20 rg-mc0">${i18n.confirm}</p>
  </div>

  <div class="ta-l">
    <span class="img-back rg-w35 rg-h35" data-dojo-attach-point="back"></span>
    <p class="rg-back">${i18n.back}</p>
  </div>
</div>
