<div>
	<div class="mt30 clearfix w272 rg-mc0">
		<div class="img-guestTitle fn-left"></div>
		<div class="ml5 mt5 fn-left">
			<h2>ID Manager</h2>
			<p class="rg-fs14">Login to begin using ID Manager</p>
		</div>
	</div>

	<div class="lg-margin">
		<div class="mt25">
			<div class="label-rqe lg-label rg-mc0">Username</div>
			<input type="text" class="rg-h35 w310 lg-input" ah-permit="name" data-dojo-attach-point="username" />
		</div>
		<div class="mt10">
			<div class="label-rqe lg-label rg-mc0">Password</div>
				<input type="password" class="rg-h35 w310 lg-input" ah-permit="name" data-dojo-attach-point="password" />
		</div>
	</div>

	<div class="ta-c">
		<span class="img-next rg-w60 rg-h60" data-dojo-attach-point="loginBtn"></span>
		<p class="rg-fs20">Log in</p>
	</div>
</div>

