<div class="dlog-bg">
	<div class="w310 rg-h100 dlog-padding overflow-hidden">
		<!-- <div class="mt25 ml25">
			<div class="dlog-label mb10">Username</div>
			<input type="text" class="w240 lg-input" ah-permit="name" data-dojo-attach-point="username" />
		</div> -->
	<div><span class='img-close' style='margin-left:300px;' data-dojo-attach-point='close'><span></div>
		<div class="ml25">
			<div class="dlog-label mb10">Password</div>
				<input type="password" class="w240 lg-input" ah-permit="name" data-dojo-attach-point="password" />
		</div>
	</div>
	<div class="ta-c">
		<span class="img-next rg-w60 rg-h60" data-dojo-attach-point="loginBtn"></span>
		<p class="rg-fs20 rg-h35">Log in</p>
		<p class="rg-h35" style='color:red' data-dojo-attach-point="errorMsg"></p>
	</div>
</div>
