<div class="rg-content">
	<div class="mt30 clearfix rg-mc0" data-dojo-attach-point="head">
		<div class="fn-left" data-dojo-attach-point="titleImg"></div>
		<div class="ml5 mt5 fn-left">
			<h2 data-dojo-attach-point="title">${i18n.registerGuest}</h2>
			<p class="rg-fs14">${i18n.complete}</p>
		</div>
	</div>

	<div class="mt50 ta-c" data-dojo-attach-point="test" >
		<span class="img_phone J-type" data-type="telphone" data-dojo-attach-point="telphone"></span>
		<span class="img_laptop J-type" data-type="email"></span>
	</div>

	<div class="ta-c mt100">
		<span class="img-back rg-w35 rg-h35 rg-mt" data-dojo-attach-point="back"></span>
		<p class="rg-back">${i18n.back}</p>
	</div>
</div>
