<div class="rg-content">
	<div class="mt10 clearfix rg-w290 rg-mc0">
		<div class="img-guestTitle fn-left"></div>
		<div class="ml5 mt5 fn-left">
			<h2>${i18n.registerAsGuest}</h2>
			<p class="rg-fs14">${i18n.confirmCredent}</p>
		</div>
	</div>

	<div class="rg-h240 mt10">
		<div class="guest-chunk fn-left">
			<div class="guest-label">${i18n.firstName}</div>
			<div class="guest-confirm fn-left" data-dojo-attach-point="val-firstName"></div>
		</div>

		<div class="guest-chunk fn-left">
			<div class="guest-label">${i18n.lastName}</div>
			<div class="guest-confirm fn-left" data-dojo-attach-point="val-lastName"></div>
		</div>

		<div class="guest-chunk fn-left">
			<div class="guest-label">${i18n.representing}</div>
			<div class="guest-confirm fn-left" data-dojo-attach-point="val-representing"></div>
		</div>

		<div class="guest-chunk fn-left">
			<div class="guest-label">${i18n.hereVisit}</div>
			<div class="guest-confirm fn-left" data-dojo-attach-point="val-toVisit"></div>
		</div>

		<div class="guest-chunk fn-left">
			<div class="guest-label">${i18n.email}</div>
			<div class="guest-confirm fn-left" data-dojo-attach-point="val-email"></div>
		</div>

		<div class="guest-chunk fn-left">
			<div class="guest-label">${i18n.phone}</div>
			<div class="guest-confirm fn-left" data-dojo-attach-point="phoneNum"></div>
		</div>
	</div>

	<div class="ta-c">
		<span class="img-next rg-w60 rg-h60" data-dojo-attach-point="next"></span>
		<p class="rg-fs20 rg-mc0">${i18n.confirm}</p>
	</div>

	<div class="ta-l">
		<span class="img-back rg-w35 rg-h35" data-dojo-attach-point="back"></span>
		<p class="rg-back">${i18n.back}</p>
	</div>
</div>



