<div class="rg-content">
  <div class="rg-pt30 clearfix rg-mc0" data-dojo-attach-point="head">
    <div class="fn-left" data-dojo-attach-point="titleImg"></div>
    <div class="ml5 fn-left">
      <h2 data-dojo-attach-point="title"></h2>
      <p class="rg-fs14">${i18n.complete}</p>
    </div>
  </div>

  <div class="rg-ml130 mt50 mb50 clearfix">
  	<div class="fn-left" data-dojo-attach-point="sendTarget"></div>
  	<div class="fn-left">
  		<h1 style='font-weight:bold;' data-dojo-attach-point="state"></h1>
  		<p style='color:#393939; margin:0;' class="rg-fs20" data-dojo-attach-point="msg"></p>
  		<p style='color:#393939; margin:0; ' class="rg-fs20" data-dojo-attach-point="sendAim"></p>
  		<p class="rg-fs20"><a href="#" data-dojo-attach-point="sendAgain">${i18n.sendAgain}</a></p>
  	</div>
  </div>

  <div class="ta-c">
    <span class="img-next rg-w60 rg-h60" data-dojo-attach-point="done"></span>
    <p class="rg-fs20 rg-mc0">${i18n.done}</p>
  </div>
</div>
