<div class="rg-content">
	<div class="ta-c va-m mt30">
		<h1>${i18n.guestRegistration}</h1>
		<p class="rg-fs14">${i18n.clickBelow}</p>
	</div>

	<div class="rg-h240 w410 rg-mc40 ta-c">
		<span data-dojo-attach-point="guest" class="img_guest" data-type="guest"></span>
		<p class="guest-label">${i18n.registerGuest}</p>
	</div>

	<div class="ta-l">
		<span class="img-back rg-w35 rg-h35" data-dojo-attach-point="logOut"></span>
		<p class="rg-back">${i18n.logOut}</p>
		<div class='fn-right language-select language-select-item'>
			<span class="rg-back rg-ml215">${i18n.languageSelection}</span>
			<span class="img_en-us" data-dojo-attach-point="international"></span>
		</div>
	</div>

</div>
