<div class="dlog-bg">
	<div class="rg-h130 dlog-padding overflow-hidden">
      <div class="dlog-label rg-lh30" data-dojo-attach-point="userName"></div>
      <div class="dlog-label rg-lh30" data-dojo-attach-point="name"></div>
      <div class="dlog-label rg-lh30" data-dojo-attach-point="createTime"></div>
      <!-- <div class="dlog-label rg-lh30">${i18n.expires}</div>
      <div class="dlog-label rg-lh30">${i18n.clickContinueCredentials}</div> -->
	</div>

	<div class="dlog-bottom clearfix">
		<button class="btn btn-small btn-cancel" data-dojo-attach-point="back">${i18n.back}</button>
		<!-- <button class="btn btn-small btn-primary fn-right"  data-dojo-attach-point="continue">Continue</button> -->
	</div>
</div>
