<div class="rg-content">
	<div class="rg-pt30 clearfix w255 rg-mc0">
		<div class="fn-left" data-dojo-attach-point="titleImg"></div>
		<div class="ml5 fn-left">
			<h2 data-dojo-attach-point="title"></h2>
			<p class="rg-fs14">${i18n.selectGuestType}</p>
		</div>
	</div>

	<h2 class="ta-c rg-mc40">${i18n.selectGuestNext}</h2>
	<div data-dojo-attach-point="carouselBox">
		<div style="width:500px; height:80px; padding:20px; border-radius:15px; background-color:#fff" data-dojo-attach-point="carousel">
			<ul data-dojo-attach-point="test">
				<!-- <li class='J-type carousel-img'>
					<span data-type='1233213213212' class='carousel-type carousel-type-vendor'></span><p class='rg-lh0' data-dojo-attach-point='nameLi'>wangtong</p>
				</li> -->
			</ul>
		  <div data-dojo-attach-point="carouselList" data-dojo-type="ah/util/Carousel" data-dojo-props="showNum:4" class="rg-h70"></div>
			<p data-dojo-attach-point="carouselMsg" style='font-size:20px; margin-top:-40px;'></p>
		</div>

	</div>


	<div class="ta-l rg-mt70">
		<span class="img-back rg-w35 rg-h35 rg-mt" data-dojo-attach-point="back"></span>
		<p class="rg-back">${i18n.back}</p>
	</div>
</div>

